/* Footer.css */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 100px 100px;
  display: flex;
  align-items: center; /* Centre le contenu verticalement */
  justify-content: center; /* Centre le contenu horizontalement */
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  top: 50%; /* Positionne le haut du texte à 50% du parent */
  left: 50%; /* Positionne la gauche du texte à 50% du parent */
  transform: translate(-50%, -50%); /* Centre le texte */
  margin: 0; /* Supprime la marge par défaut des h2 */
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #38c2ec;
}

.content h2:nth-child(2) {
  color: #9bf5f5;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
