.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px; /* Réduire le padding vertical */
}

.logo-img {
    width: 80px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Pour maintenir le ratio de l'image */
}

.search-container {
    display: flex;
    align-items: center;
    position: relative; /* Ajout de position relative */
}

.search-bar {
    flex: 1; /* Utilise l'espace disponible */
    padding: 5px 10px; /* Réduire le padding interne */
    border-radius: 10px 0 0 10px; /* Pour les bords arrondis à gauche */
    border: 1px solid #ccc;
    outline: none;
    height: 30px; /* Pour correspondre à la hauteur du bouton de recherche */
    width: 500px; /* Augmenter la largeur de la barre de recherche */
}


.search-button {
    padding: 5px 10px; /* Réduire le padding interne */
    border-radius: 0 10px 10px 0; /* Pour les bords arrondis à droite */
    border: 1px solid #ccc;
    border-left: none;
    background-color: #555;
    cursor: pointer;
    height: 35px; /* Pour correspondre à la hauteur de la barre de recherche */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Position absolue pour se superposer sur la barre de recherche */
    right: 0; /* Alignement sur la droite */
    top: 50%; /* Alignement vertical au milieu */
    transform: translateY(-50%); /* Ajustement de la position verticale */
}

.search-icon {
    width: 16px; /* Ajustez la taille de l'icône selon vos besoins */
    height: 16px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 15px; /* Réduire l'espace entre les éléments du menu */
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}
